![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Submitted by: Mohammad Wasiq

## Email: `gl0427@myamu.ac.in`

# Pre-Placement Training Assignment - `Big Data` 

## Data Warehousing

## **TOPIC: Data Warehousing Fundamentals**

**Q1. Design a data warehouse schema for a retail company that includes dimension tables for products, customers, and time. Implement the schema using a relational database management system (RDBMS) of your choice.**

In [ ]:
# Product Dimension Table

CREATE TABLE product (
  product_id INT PRIMARY KEY,
  product_name VARCHAR(100),
  category VARCHAR(50),
  brand VARCHAR(50),
  -- other product attributes
);

In [ ]:
# Customer Dimension Table

CREATE TABLE customer (
  customer_id INT PRIMARY KEY,
  customer_name VARCHAR(100),
  city VARCHAR(50),
  state VARCHAR(50),
  -- other customer attributes
);

In [ ]:
# Time Dimension Table

CREATE TABLE time (
  date_id DATE PRIMARY KEY,
  day INT,
  month INT,
  year INT,
  -- other time attributes
);

In [ ]:
# Sales Fact Table

CREATE TABLE sales (
  sales_id INT PRIMARY KEY,
  product_id INT,
  customer_id INT,
  date_id DATE,
  quantity INT,
  price DECIMAL(10, 2),
  -- other sales metrics
  FOREIGN KEY (product_id) REFERENCES product (product_id),
  FOREIGN KEY (customer_id) REFERENCES customer (customer_id),
  FOREIGN KEY (date_id) REFERENCES time (date_id)
);

**Q2. Create a fact table that captures sales data, including product ID, customer ID, date, and sales amount. Populate the fact table with sample data.**

In [ ]:
# Insert Sample Data into the Product Dimension Table:


INSERT INTO product (product_id, product_name, category, brand)
VALUES
  (1, 'Product A', 'Category 1', 'Brand X'),
  (2, 'Product B', 'Category 2', 'Brand Y'),
  (3, 'Product C', 'Category 1', 'Brand Z');

In [ ]:
# Insert Sample Data into the Customer Dimension Table:


INSERT INTO customer (customer_id, customer_name, city, state)
VALUES
  (1, 'Customer 1', 'City 1', 'State X'),
  (2, 'Customer 2', 'City 2', 'State Y'),
  (3, 'Customer 3', 'City 3', 'State Z');

In [ ]:
# Insert Sample Data into the Time Dimension Table

INSERT INTO time (date_id, day, month, year)
VALUES
  ('2023-01-01', 1, 1, 2023),
  ('2023-01-02', 2, 1, 2023),
  ('2023-01-03', 3, 1, 2023);

In [ ]:
# Insert Sample Data into the Sales Fact Table:


INSERT INTO sales (sales_id, product_id, customer_id, date_id, quantity, price)
VALUES
  (1, 1, 1, '2023-01-01', 10, 100.00),
  (2, 2, 2, '2023-01-02', 5, 50.00),
  (3, 3, 3, '2023-01-03', 8, 80.00);

**Q3. Write SQL queries to retrieve sales data from the data warehouse, including aggregations and filtering based on different dimensions.**

In [ ]:
# Retrieve total sales amount for each product:


SELECT p.product_name, SUM(s.quantity * s.price) AS total_sales_amount
FROM sales s
JOIN product p ON s.product_id = p.product_id
GROUP BY p.product_name;

In [ ]:
# Retrieve total sales amount for each customer:


SELECT c.customer_name, SUM(s.quantity * s.price) AS total_sales_amount
FROM sales s
JOIN customer c ON s.customer_id = c.customer_id
GROUP BY c.customer_name;

In [ ]:
# Retrieve total sales amount for each month:


SELECT t.month, SUM(s.quantity * s.price) AS total_sales_amount
FROM sales s
JOIN time t ON s.date_id = t.date_id
GROUP BY t.month;

In [ ]:
# Retrieve total sales amount for a specific product category:


SELECT p.category, SUM(s.quantity * s.price) AS total_sales_amount
FROM sales s
JOIN product p ON s.product_id = p.product_id
WHERE p.category = 'Category 1'
GROUP BY p.category;

In [ ]:
# Retrieve total sales amount for a specific customer in a specific month:


SELECT c.customer_name, t.month, SUM(s.quantity * s.price) AS total_sales_amount
FROM sales s
JOIN customer c ON s.customer_id = c.customer_id
JOIN time t ON s.date_id = t.date_id
WHERE c.customer_name = 'Customer 1' AND t.month = 1
GROUP BY c.customer_name, t.month;

## TOPIC: ETL and Data Integration

**Q1. Design an ETL process using a programming language (e.g., Python) to extract data from a source system (e.g., CSV files), transform it by applying certain business rules or calculations, and load it into a data warehouse.**

**Ans :** 

**Extraction:**
* Read the CSV files using Python's CSV module or pandas library.
* Extract the required columns and relevant data from the CSV files.

**Transformation:**
* Apply any necessary data transformations, such as cleaning the data, handling missing values, or converting data types.
* Perform business rule calculations or any other required transformations on the extracted data.

**Loading:**
* Connect to the data warehouse using appropriate libraries or modules, such as SQLAlchemy for relational databases or PyMongo for MongoDB.
* Create the necessary tables or collections in the data warehouse to store the transformed data.
* Load the transformed data into the respective tables or collections.

In [ ]:
import csv
import pandas as pd
from sqlalchemy import create_engine

# Extraction
data = []
with open('data.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip header
    for row in reader:
        data.append(row)

# Transformation
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
# Apply transformations or calculations on the DataFrame

# Loading
engine = create_engine('database_connection_string')
df.to_sql('table_name', engine, if_exists='replace', index=False)

**Q2. Implement the ETL process by writing code that performs the extraction, transformation, and loading steps.**

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Extraction
df = pd.read_csv('data.csv')

# Transformation
# Apply any necessary transformations or calculations on the DataFrame
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

# Loading
engine = create_engine('database_connection_string')
df.to_sql('sales', engine, if_exists='replace', index=False)

## TOPIC: Dimensional Modeling and Schemas

**Q1. Design a star schema for a university database, including a fact table for student enrollments and dimension tables for students, courses, and time. Implement the schema using a database of your choice.**

In [ ]:
#-- Create Fact Table
CREATE TABLE enrollments (
    enrollment_id SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES students (student_id),
    course_id INTEGER REFERENCES courses (course_id),
    time_id INTEGER REFERENCES time (time_id),
    grade FLOAT
);

# -- Create Dimension Tables
CREATE TABLE students (
    student_id SERIAL PRIMARY KEY,
    student_name VARCHAR(100),
    student_major VARCHAR(50),
    student_age INTEGER
);

CREATE TABLE courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(100),
    course_department VARCHAR(50),
    course_credits INTEGER
);

CREATE TABLE time (
    time_id SERIAL PRIMARY KEY,
    year INTEGER,
    semester VARCHAR(50),
    month INTEGER
);

**Q2. Write SQL queries to retrieve data from the star schema, including aggregations and joins between the fact table and dimension tables.**

In [ ]:
# Retrieve all enrollments with student and course details:


SELECT e.enrollment_id, s.student_name, c.course_name, e.grade
FROM enrollments e
JOIN students s ON e.student_id = s.student_id
JOIN courses c ON e.course_id = c.course_id;

In [ ]:
# Calculate the average grade for each student:


SELECT s.student_name, AVG(e.grade) AS average_grade
FROM enrollments e
JOIN students s ON e.student_id = s.student_id
GROUP BY s.student_name;

In [ ]:
# Get the total number of enrollments by course department:


SELECT c.course_department, COUNT(*) AS total_enrollments
FROM enrollments e
JOIN courses c ON e.course_id = c.course_id
GROUP BY c.course_department;

In [ ]:
# Find the highest and lowest grades for a specific course:


SELECT c.course_name, MAX(e.grade) AS highest_grade, MIN(e.grade) AS lowest_grade
FROM enrollments e
JOIN courses c ON e.course_id = c.course_id
WHERE c.course_name = 'Course A';

In [ ]:
# Retrieve enrollments for a specific semester and year:

    
SELECT e.enrollment_id, s.student_name, c.course_name, e.grade
FROM enrollments e
JOIN students s ON e.student_id = s.student_id
JOIN courses c ON e.course_id = c.course_id
JOIN time t ON e.time_id = t.time_id
WHERE t.semester = 'Spring' AND t.year = 2022;

## TOPIC: Performance Optimization and Querying

**Q1. Scenario: You need to improve the performance of your data loading process in the data warehouse. Write a Python script that implements the following optimizations:**

**a)	Utilize batch processing techniques to load data in bulk instead of individual row insertion.**

In [ ]:
import psycopg2

def load_data_in_batches(data, batch_size):
    conn = psycopg2.connect(database="your_database", user="your_user", password="your_password", host="your_host", port="your_port")
    cursor = conn.cursor()
    
    # Split the data into batches
    num_batches = len(data) // batch_size + 1
    for i in range(num_batches):
        batch_data = data[i * batch_size: (i + 1) * batch_size]

        # Generate a multi-row insert statement
        insert_statement = "INSERT INTO your_table (column1, column2, ...) VALUES "
        values = []
        for row in batch_data:
            values.append(f"({row['column1_value']}, '{row['column2_value']}', ...)")
        insert_statement += ", ".join(values)

        # Execute the insert statement
        cursor.execute(insert_statement)
    
    conn.commit()
    cursor.close()
    conn.close()

# Example usage
data = [
    {"column1": "value1", "column2": "value2", ...},
    {"column1": "value3", "column2": "value4", ...},
    ...
]
batch_size = 1000

load_data_in_batches(data, batch_size)

**b)  Implement multi-threading or multiprocessing to parallelize the data loading process.**

In [ ]:
import psycopg2
from multiprocessing import Pool

# Define the number of worker processes
num_workers = 4

def load_data(row):
    # Connect to the database
    conn = psycopg2.connect(database="your_database", user="your_user", password="your_password", host="your_host", port="your_port")
    cursor = conn.cursor()

    # Perform the data insertion for a single row
    insert_statement = f"INSERT INTO your_table (column1, column2, ...) VALUES ({row['column1_value']}, '{row['column2_value']}', ...)"
    cursor.execute(insert_statement)

    conn.commit()
    cursor.close()
    conn.close()

def load_data_parallel(data):
    # Create a pool of worker processes
    pool = Pool(num_workers)

    # Load data in parallel using multiple processes
    pool.map(load_data, data)

    # Close the pool
    pool.close()
    pool.join()

# Example usage
data = [
    {"column1": "value1", "column2": "value2", ...},
    {"column1": "value3", "column2": "value4", ...},
    ...
]

load_data_parallel(data)

**c)  Measure the time taken to load a specific amount of data before and after implementing these optimizations.**

In [ ]:
import psycopg2
import time

# Original data loading function without optimizations
def load_data_original(data):
    conn = psycopg2.connect(database="your_database", user="your_user", password="your_password", host="your_host", port="your_port")
    cursor = conn.cursor()

    start_time = time.time()

    for row in data:
        insert_statement = f"INSERT INTO your_table (column1, column2, ...) VALUES ({row['column1_value']}, '{row['column2_value']}', ...)"
        cursor.execute(insert_statement)

    conn.commit()
    cursor.close()
    conn.close()

    end_time = time.time()
    execution_time = end_time - start_time

    print(f"Original execution time: {execution_time} seconds")

# Optimized data loading function using multiprocessing
def load_data_parallel(data):
    conn = psycopg2.connect(database="your_database", user="your_user", password="your_password", host="your_host", port="your_port")
    cursor = conn.cursor()

    start_time = time.time()

    # ... rest of the code ...

    end_time = time.time()
    execution_time = end_time - start_time

    print(f"Optimized execution time: {execution_time} seconds")

# Example usage
data = [
    {"column1": "value1", "column2": "value2", ...},
    {"column1": "value3", "column2": "value4", ...},
    ...
]

load_data_original(data)
load_data_parallel(data)